<div class="container">
    <h1>New Bookmark</h1>

    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :movie_id, collection: @movies, label: 'Select a movie' %>
    <%= f.input :comment, label: 'comment' %>
    <%= f.button :submit, class: 'btn btn-success' %>
    <% end %>

    <br>

    <div>
    <%= link_to "Back to list", lists_path(@list), class: 'btn btn-success'%>
    </div>
</div>
